/* **************************************Features section******************************************* */
#features {
	margin-top: 3.5rem;
	display: flex;
}

.feautures__items {
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.features__items--item {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features__items--item .wallet_purple {
	background-color: var(--lightpurple-color);
	padding: 0.5rem;
	border-radius: 0.7rem;
	border: none;
}

.features__items--item .wallet_green {
	background-color: var(--green-color);
	padding: 0.5rem;
	border-radius: 0.7rem;
	border: none;
}

.features__items--item .ppurple {
	background-color: var(--lightpurple-color);
	padding: 0.5rem;
	border-radius: 0.7rem;
	border: none;
}

.features__items--item .red {
	background-color: var(--red-color);
	padding: 0.5rem;
	border-radius: 0.7rem;
	border: none;
}

.features__items--item h2 {
	padding-top: 1rem;
	color: var(--light-color);
	font-size: 0.8rem;
}

.features__items--item p {
	text-align: center;
	padding-top: 1rem;
	color: var(--secondary-color);
	font-size: 0.6rem;
}
/* **************************************End Features section End******************************************* */

@media only screen and (max-width: 837px) {
	.feautures__items {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
