#Auction {
  margin-top: 2rem;
  width: 100%;

  .Auction__box {
    width: 100%;
    transition: all 1s ease;

    .Auction__box--titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;

      h2 {
        color: whitesmoke;
        font-size: 1rem;
      }

      h3 {
        color: whitesmoke;
        font-size: 0.5rem;
        border-bottom: 2px solid var(--lightpurple-color);
        cursor: pointer;
        transition: padding-bottom 0.3s ease;

        &:hover {
          padding-bottom: 0.3rem;
        }
      }
    }

    .Auction__box--items {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .Auction__box--items__item {
        width: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #343444;
        border: none;
        border-radius: 1rem;
        padding: 0.5rem;
        position: relative;
        transition: all 1s ease;

        &:hover {
          .item__product {
            opacity: 1;
          }
        }

        .item__product {
          background-color: var(--light-color);
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          font-size: 0.7rem;
          color: black;
          position: absolute;
          top: 30%;
          left: 25%;
          opacity: 0;
          display: flex;
          transition: all 0.5s ease;
          cursor: pointer;

          i {
            padding-right: 0.3rem;
            color: var(--lightpurple-color);
          }
        }

        img {
          width: 100%;
          border-radius: 1rem;
        }

        h2 {
          color: var(--light-color);
          font-size: 0.7rem;
          font-weight: 600;
          padding-top: 1rem;
        }

        .item--bottom {
          width: 100%;
          padding-top: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0.5rem;
          border-bottom: 2px solid #242431;

          .item--bottom__left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            .item--bottom__left--right {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 0.2rem;

              p {
                color: var(--secondary-color);
                font-size: 0.5rem;
              }
              h4 {
                color: whitesmoke;
                font-size: 0.6rem;
                font-weight: 400;
              }
            }
          }

          .item--bottom__right {
            button {
              background-color: var(--lightpurple-color);
              padding: 0.2rem 0.5rem;

              &:hover {
                color: var(--light-color);
              }
            }
          }
        }

        .item__footer {
          padding-top: 0.5rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .footer__right {
            background-color: #242431;
            color: white;
            font-size: 0.5rem;
            padding: 0.2rem 0.3rem;
            border-radius: 0.3rem;
          }

          .footer__left {
            p {
              color: #adadb0;
              font-size: 0.6rem;
            }

            .footer__left--text {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 0.4rem;

              .footer__paragraph {
                font-size: 0.8rem;
                color: var(--light-color);
                padding-right: 0.3rem;
              }
            }
          }
        }

        .item__timer {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;
          padding: 0.3rem 0.7rem;
          background-color: var(--likegray-color);
          border-radius: 0.5rem;
          font-size: 0.7rem;
          font-weight: 500;
          color: whitesmoke;
          position: absolute;
          top: 52%;
          left: 30%;
          z-index: 1;
          i {
            color: var(--lightpurple-color);
          }
        }

        .countDown {
          font-size: 0.5rem;
        }
      }
    }
  }
}

.swiper {
  width: 55rem !important;

  .swiper-slide {
    width: 12rem !important;
  }

  .swiper-pagination {
    position: static;

    .swiper-pagination-bullet {
      background-color: white !important;
    }
  }

  .swiper-button-prev {
    width: 3.5rem !important;
    height: 3.5rem !important;
    left: -24px !important;
    top: 239px !important;
    transition: all 0.3s ease !important;

    &::after {
      border-radius: 50% !important;
      text-align: center;
      font-size: 0.7rem;
      color: black;
      font-weight: bolder;
      padding: 0.5rem;
      border: 3px solid black;
      transition: all 0.3s ease !important;
    }

    &:hover {
      scale: 1.1;
    }
  }
  .swiper-button-next {
    width: 3.5rem !important;
    height: 3.5rem !important;
    right: -20px !important;
    top: 239px !important;
    transition: all 0.3s ease !important;

    &::after {
      border-radius: 50% !important;
      text-align: center;
      font-size: 0.7rem;
      color: black;
      font-weight: bolder;
      padding: 0.5rem;
      border: 3px solid black;
      transition: all 0.3s ease !important;
    }

    &:hover {
      scale: 1.1;
    }
  }
}
