#features {
  margin-top: 4rem;
  display: flex;
  width: 100%;

  .feautures__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .features__items--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;

      i {
        transition: all 0.3s ease;
      }

      p {
        color: #adadb0;
        line-height: 1rem;
        text-align: center;
      }
    }
  }
}

.wallet_purple {
  background-color: var(--lightpurple-color);
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;

  &:hover {
    box-shadow: rgba(81, 66, 251, 0.25) 0px 2px 34px,
      rgba(81, 66, 251, 0.25) 0px 4px 66px, rgba(81, 66, 251, 0.15) 0px 6px 90px;
  }
}

.wallet_green {
  background-color: var(--green-color);
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;

  &:hover {
    box-shadow: rgba(70, 164, 51, 0.25) 0px 2px 34px,
      rgba(70, 164, 51, 0.25) 0px 4px 66px, rgba(70, 164, 51, 0.15) 0px 6px 90px;
  }
}

.pink {
  background-color: #9835fb;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;

  &:hover {
    box-shadow: rgba(152, 53, 251, 0.25) 0px 2px 34px,
      rgba(152, 53, 251, 0.25) 0px 4px 66px,
      rgba(152, 53, 251, 0.15) 0px 6px 90px;
  }
}

.red {
  background-color: #df4949;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: none;

  &:hover {
    box-shadow: rgba(223, 73, 73, 0.25) 0px 2px 34px,
      rgba(223, 73, 73, 0.25) 0px 4px 66px, rgba(223, 73, 73, 0.15) 0px 6px 90px;
  }
}

.features__items--item h2 {
  padding-top: 1rem;
  color: var(--light-color);
  font-size: 0.8rem;
}

.features__items--item p {
  text-align: center;
  padding-top: 1rem;
  color: var(--secondary-color);
  font-size: 0.6rem;
}

// ------------------ Responsive -------------------- //

@media only screen and (max-width: 950px) {
  .feautures__items {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 700px) {
  .feautures__items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
