header {
  nav {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #14141f;
    padding: 0 2rem;

    .navLeft {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .navbar__title {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #fff;
          font-weight: 500;
          font-size: 1.5rem;
        }

        img {
          width: 1.5rem;
        }
      }

      .navbarMenuUl {
        display: flex;
        justify-content: center;
        align-items: center;

        .Home {
          &:hover {
            border-bottom-left-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
          }
        }
        .contact {
          &:hover {
            border-bottom-left-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
          }
        }

        li {
          font-size: 0.7rem;
          color: whitesmoke;
          font-weight: 600;
          padding: 0.5rem;
          border-radius: 0.5rem;
          position: relative;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          i {
            padding: 0.1rem;
            font-size: 0.3rem;
          }

          ul {
            display: none;
            position: absolute;
            top: 1.8rem;
            left: 0;
            background-color: #343444;
            font-weight: 600;
            padding: 0.5rem;
            border-radius: 0.2rem;
            width: 10rem;
            border-top-left-radius: 0;
          }

          &:hover {
            cursor: pointer;
            background-color: #343444;
            ul {
              display: block;
            }
          }
        }
      }
    }

    .navRight {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .search {
        color: whitesmoke;
        font-size: 0.8rem;
        font-weight: 100;
        cursor: pointer;
        position: relative;

        img {
          width: 1.1rem;
        }
      }

      .navbar__button {
        button {
          padding: 0.5rem 1.2rem;
          font-size: 0.6rem;
          font-weight: 600;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

          i {
            font-size: 0.6rem;
            padding-right: 0.3rem;
          }
        }
      }

      .themeButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        img {
          background-color: #343444;
          padding: 0.4rem;
          border-radius: 0.5rem;
          cursor: pointer;
        }
        i {
          font-size: 0.7rem;
          background-color: #343444;
          padding: 0.4rem;
          border-radius: 0.5rem;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}

.serachModal {
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  display: none;
  position: fixed;
  background-color: #2e3034;
  border-radius: 0.5rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  backdrop-filter: blur(4px);

  .serachModalTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    input {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      color: whitesmoke;
    }
    img {
      width: 0.8rem;
    }
  }
  .serachModalBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .serachModalBottomLeft {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .controlBtn,
      .bBtn {
        background: linear-gradient(
          to right bottom,
          rgb(90, 89, 92),
          rgb(60, 60, 60)
        );
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        font-size: 0.7rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: #a29c9b;
      }

      p {
        font-size: 0.6rem;
        color: #a29c9b;
      }

      span {
        color: #a29c9b;
      }
    }

    .serachModalBottomRight {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .escBtn {
        background: linear-gradient(
          to right bottom,
          rgb(90, 89, 92),
          rgb(60, 60, 60)
        );
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        font-size: 0.5rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: #a29c9b;
      }

      span {
        color: #a29c9b;
      }
      p {
        font-size: 0.6rem;
        color: #a29c9b;
      }
    }
  }
}

.blur-bg {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}

.hamburgerMenu {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: #343444;
  padding: 0.1rem;
  font-size: 0.7rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

// ---------- Responsive navbar menu -------------------//

.navbarMenuR {
  display: none;
  position: absolute;
  top: 2.7rem;
  left: 0;
  background-color: var(--primary-color);
  width: 40rem;

  .navbarMenuUlR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 1rem;
    transition: all ease 0.3s;

    li {
      transition: all ease 0.3s;
      padding: 0.3rem;
      border-radius: 0.2rem;

      &:hover {
        cursor: pointer;
        background-color: #343444;

        .navbarMegaMenuR {
          display: block;
        }
      }
    }

    .navbarMegaMenuR {
      display: none;
      color: white;
      padding: 0.5rem;
    }

    i {
      font-size: 0.3rem;
    }
  }
}
.activeMenu {
  display: flex;
}

// ------------- Responsive -------------------- //

@media only screen and (max-width: 1250px) {
  .navbar__button {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  .navbarMenu {
    display: none !important;
  }
  .search {
    display: none !important;
  }
  .hamburgerMenu {
    display: flex;
  }
}
