@import url("https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #14141f;
  --light-color: #f8fafa;
  --dark-color: black;
  --secondary-color: gray;
  --lightpurple-color: #4e3fee;
  --green-color: green;
  --red-color: red;
  --likegray-color: #3e3636;
}

html {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: 2px solid var(--lightpurple-color);
  font-family: inherit;
  font-size: 0.5rem;
  box-shadow: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3 ease;
  cursor: pointer;

  &:hover {
    background-color: var(--lightpurple-color);
  }
}

.container {
  width: 100%;
  padding: 0 2rem;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* ----------------------- light mode ---------------------- */

.light {
  background-color: whitesmoke;

  button {
    background-color: whitesmoke;
    color: #414144;

    &:hover {
      background-color: var(--lightpurple-color);
      color: white;
    }
  }

  header {
    nav {
      background-color: whitesmoke !important;
      border-bottom: 1px solid #bcb8ee !important;

      .navbar__title {
        span {
          color: black;
        }
      }

      .navbarMenu {
        // color: black !important;

        li {
          a {
            color: #414144;
          }
          &:hover {
            background-color: #a2a2a8;
          }

          .navbarMegaMenu {
            background-color: #a2a2a8;
            li {
              color: #414144;
            }
          }
        }
      }

      .navbarMenuR {
        background-color: whitesmoke;

        .navbarMenuUlR {
          li {
            a {
              color: #414144;
            }
            &:hover {
              background-color: #a2a2a8;
            }

            .navbarMegaMenuR {
              li {
                color: #414144;
              }
            }
          }
        }
      }

      .search {
        i {
          color: #414144;
        }
      }

      .themeButtons {
        i,
        img {
          background-color: white;
          color: #414144;
        }

        .hamburgerMenu {
          background-color: white;
        }
      }
    }
  }

  #hero {
    .hero__left {
      h2 {
        color: #14141f;
      }
    }
  }

  #features {
    .features__items--item {
      h2 {
        color: #14141f;
      }
    }
  }

  #Auction {
    .Auction__box {
      background-color: whitesmoke;

      .Auction__box--items {
        .swiper-button-prev::after,
        .swiper-button-next::after {
          color: gray;
          border: 3px solid gray;
          // z-index: 99 !important;
        }
      }

      .Auction__box--titles {
        h2,
        h3 {
          color: #14141f;
        }
      }

      .Auction__box--items__item {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        h2,
        h3,
        h4 {
          color: black !important;
        }

        .item__footer {
          .footer__paragraph {
            color: black !important;
          }

          .likeBtn {
            background-color: transparent;
            color: black;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          }
        }

        .item--bottom {
          .item--bottom__right {
            button {
              color: white;
            }
          }
        }

        .item__timer {
          background-color: white;
          color: black;
        }
      }
    }
  }
}

/* ---------xxx-------------- light mode ----------xxx------------ */

//--------------------------- scroll bar -------------------------- //

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightpurple-color);
  border-radius: 0.5rem;
}
