#hero {
	margin-top: 1rem;
}

.hero__section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero__left h2 {
	color: var(--light-color);
}

.hero__left p {
	padding-top: 0.5rem;
	color: var(--secondary-color);
	font-size: 0.7rem;
	font-weight: 100;
}

.hero__left span {
	color: var(--lightpurple-color);
}

.hero__left button {
	margin-top: 1rem;
}
