@import url("https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	font-size: 1.5rem;
	font-family: "poppins", sans-serif;
}

body {
	background-color: #14141f;
}

#profile__navication {
	background: url(../assets/item-details/bg.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
/* ------------------------------------------profile section */

#profile {
	padding-top: 2.9rem;
	width: 100%;
}

.main__profile {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.main__profile--forms {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/*-----------------------------------------profile title  */
.editProfile {
	text-align: center;
	color: var(--light-color);
	background: url(../assets/item-details/bg.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	width: 100%;
	height: 20vh;
}
.editProfile__tabs {
	padding-top: 1.5rem;
}
.editProfile__tabs a {
	color: var(--secondary-color);
	padding-bottom: 2rem;
}
.editProfile__tabs .edit {
	color: var(--light-color);
}

/* --------------------------------profile header */
.main__profile--header img {
	width: 12rem;
	height: 5rem;
	border: none;
	border-radius: 0.5rem;
}

.main__profile--header {
	display: flex;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.profile__header--upload {
	background-color: transparent;
	border: 1px solid var(--secondary-color);
	border-radius: 0.5rem;
	width: 12rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--light-color);
}

.profile__header--upload form {
	width: 10rem;
	height: 7rem;
	border-radius: 0.5rem;
	background-color: transparent;
	border: none;
	font-size: 0.8rem;
}
.dz-preview img {
	object-fit: cover;
	width: 5rem;
}

/* ----------------------------------profile center form */
.main__profile--centerform {
	padding-top: 1rem;
}

.main__profile--centerform form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.main__profile--centerform h2 {
	color: var(--light-color);
	font-size: 1rem;
	padding-bottom: 1rem;
	font-weight: 500;
}
.main__profile--centerform input {
	padding: 0.5rem 5rem;
	color: var(--light-color);
	font-size: 0.5rem;
	border: 1px solid var(--secondary-color);
	border-radius: 0.3rem;
	margin-bottom: 1rem;
	background-color: transparent;
}
.main__profile--centerform label {
	color: var(--light-color);
	font-size: 0.6rem;
	font-weight: 100;
	padding-bottom: 0.3rem;
}

.main__profile--centerform #bio {
	height: 5rem;
}

/* ---------------------------------profile right form */
.main__profile--rightform {
	padding-top: 1rem;
}
.main__profile--rightform form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.main__profile--rightform form a i {
	padding-right: 0.3rem;
}

.main__profile--rightform h2 {
	color: var(--light-color);
	font-size: 1rem;
	padding-bottom: 1rem;
	font-weight: 500;
}

.main__profile--rightform input {
	padding: 0.5rem 5rem;
	color: var(--light-color);
	font-size: 0.5rem;
	border: 1px solid var(--secondary-color);
	border-radius: 0.3rem;
	background-color: transparent;
	margin-bottom: 1rem;
}

.main__profile--rightform label {
	color: var(--light-color);
	font-size: 0.6rem;
	font-weight: 100;
	padding-bottom: 0.3rem;
}
.main__profile--rightform a {
	background-color: var(--lightpurple-color);
	padding: 0.3rem 0.5rem;
	border: none;
	border-radius: 1rem;
	color: var(--light-color);
	font-size: 0.5rem;
	margin-bottom: 1rem;
}

/* -----------------------profile photo */
.main__profile--photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--likegray-color);
	padding: 0.2rem;
	border: none;
	border-radius: 0.5rem;
	width: 12rem;
}
.main__profile--photo img {
	padding-top: 0.5rem;
	width: 10rem;
}
.main__profile--photo button {
	margin: 0.3rem;
	width: 9rem;
	height: 2rem;
	border-radius: 0.5rem;
	text-align: center;
	font-size: 0.6rem;
}

/* ---------------------------------navbar profile */
.navbar__profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar__profile img {
	padding-right: 0.5rem;
	cursor: pointer;
}

.navbar__profile i {
	background-color: var(--secondary-color);
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
}
